@{
    ViewData["Title"] = "Home Page";
}

<section id="landing-page-container" class="pt-3">
    <div class="container">
        <div class="row gx-5 ">
            <div class="col-md-4 text-center px-0 left-context">
                <img src="" alt="Simpacc">
                <p class="co-name">SIMPACC Accounting</p>
            </div>
            <div class="col-md-8 right-context">
                <div class="title">
                    <p class="m-0">Your All-in-one</p>
                    <p class="fw-bold m-0">Financial Management</p>
                    <p class="m-0">Solution</p>
                </div>
                <p class="subtitle">Manage your business with ease!</p>
            </div>
        </div>
    </div>
</section>
