@inherits LayoutComponentBase

<PageTitle>OcrBlazor</PageTitle>

<div>

    <div class="ocr-hdr">This is header</div>
    <div class="ocr-body container">
        <div class="ocr-left">This is left</div>
        <div class="ocr-right">
            @Body
            This is right
            </div>
    </div>
    <div class="ocr-footer">This is footer</div>
    
    
    




    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            
        </article>
    </main>
</div>
