@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
     ViewData["CompanyInfo"] = Configuration.GetSection("CompanyInfo")["CompanyName"];
}
<nav class="container-fluid">
    <a class="navbar-brand" href="#">@ViewData["CompanyInfo"]</a>

    @* Drop Down *@
    <div class="nav-dropdown-wrapper">
        <img src="~/images/default-user-avatar.jpg" alt="user's image" class="nav-dd-user-img">
        
        <ul class="nav-dd-dtls">
            <li class="nav-dd-item">
                <a class="nav-dd-link" href="#" > User Menus </a>
            </li>

            <li class="nav-dd-item">
                <a class="nav-dd-link" href="#" > Profile </a>
            </li>

            <li class="nav-dd-item">
                <a class="nav-dd-link" href="#" > Help and Support </a>
            </li>

            <li class="nav-dd-item">
                <a class="nav-dd-link" href="#" > Subscriptipon </a>
            </li>

            <li class="nav-dd-item">
                <a class="nav-dd-link" href="#" > User Management </a>
            </li>

            <li class="nav-dd-item">
                <a class="nav-dd-link" asp-area="" asp-controller="LoginLocked" asp-action="logout"> Logout </a>
            </li>

        </ul>
    </div>
</nav>